
body {
    background: url('http://localhost/BTS/Mvc_GsbFormation/public/img/background.png') no-repeat fixed;
}

#header-logo{
    background-color: #48C6EC;

}

#banniere{
    text-align: center;
}

#main
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.col-md-3#header-img{

    padding: 0px;
}

#user-all{
    background-color: #1b9bff;
    color:white;
    text-align: center;
}

#cpt-user{

}

div#ack.alert{

    font-family: Verdana;
    color: red;
    font-style: normal;
    font-size: medium;
    background-color: pink;

}

div#ack.done
{
    font-family: Verdana;
    color: green;
    font-style: normal;
    font-size: medium;
    background-color: greenyellow;
}

div#atk.alert{
    font-family: Verdana;
    color: red;
    font-style: normal;
    font-size: medium;
    background-color: pink;
}

hr{
    border-top: 1px solid black;
}